body {
  background-color: #02292c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#right-arrow {
   top: 80vh;
   position: absolute;
   right: 6%;
   visibility: visible;
   cursor: pointer;
}

#left-arrow {
  top: 80vh;
  position: absolute;
  left: 6%;
  visibility: visible;
  cursor: pointer;
}

#slide-box {
  border: 6px solid #076b75;
  position: relative;
  width: 80vw;
  text-align: center;
  margin-top: 16px;
  height: 92vh;
  border-radius: 16px;
  box-shadow: 0 0 4px #f4db9d;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

#splash {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 86vh;
  
}